services:
  server:
    build:
      context: .
    ports:
      - 8000:8000
    volumes:
      - ./secrets/:/home/appuser/.ssh/:ro

    grafana:
      image: grafana/grafana:latest
      container_name: grafana
      ports:
      - "3000:3000"
      volumes:
      - grafana-storage:/var/lib/grafana
      environment:
      - GF_AUTH_ANONYMOUS_ENABLED=true
      - GF_AUTH_ANONYMOUS_ORG_ROLE=Viewer
      - GF_SECURITY_ALLOW_EMBEDDING=true

volumes:
  serverapp:
  grafana-storage: