body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    background: #2c3442;
    color: #c9d1d9;
}

.container {
    max-width: 800px;
    margin: 60px auto;
    background: #161b22;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 0 25px rgba(0,0,0,0.3);
}

h1 {
    text-align: center;
    color: #58a6ff;
}

input[type="file"] {
    margin-top: 15px;
    color: #c9d1d9;
}

input[type="submit"] {
    margin-top: 20px;
    width: 100%;
    padding: 10px;
    background: #2386ff;
    border: none;
    border-radius: 8px;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: 0.2s;
}

input[type="submit"]:hover {
    background: #4098ff;
}

.flash-box {
    background: #1f6feb33;
    border-left: 4px solid #58a6ff;
    padding: 12px 16px;
    margin-bottom: 20px;
    border-radius: 8px;
    color: #c9d1d9;
    font-size: 15px;
}

ul.flashes {
    list-style: none;
    padding: 0;
}

ul.flashes li {
    margin-bottom: 10px;
}

.title-with-logo {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
    margin-bottom: 25px;
    color: #58a6ff;
}

.title-with-logo img {
    height: 48px;
    width: auto;
    border-radius: 6px;
}

.section-title {
    margin-top: 40px;
    margin-bottom: 15px;
    text-align: center;
    color: #58a6ff;
}

.grafana-grid {
    display: grid;
    gap: 20px;
    margin-top: 20px;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
}

.grafana-card {
    background: #161b22;
    border: 1px solid #30363d;
    border-radius: 10px;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #8b949e;
    font-size: 16px;
    box-shadow: 0 0 12px rgba(0,0,0,0.25);
    transition: 0.2s;
}

.grafana-card:hover {
    background: #1f2933;
    border-color: #58a6ff;
    box-shadow: 0 0 18px rgba(88,166,255,0.3);
}


.file-input-wrapper {
    position: relative;
    display: inline-block;
    width: 100%;
}

.file-input-label {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12px;
    background: #2386ff;
    color: white;
    font-size: 15px;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.2s;
    text-align: center;
}

.file-input-label:hover {
    background: #4098ff;
}

.file-input-wrapper input[type="file"] {
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
}


.file-selected {
    margin-top: 10px;
    font-size: 14px;
    color: #8b949e;
    text-align: center;
}
