{% extends "layout.html" %}

{% block body %}
<h1>Upload New File</h1>

<form method="post" enctype="multipart/form-data">

    <div class="file-input-wrapper">
        <label class="file-input-label">Choose File</label>
        <input type="file" name="file" id="fileInput" required>
    </div>

    <div id="fileName" class="file-selected"></div>

    <input type="submit" value="Upload">

    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul class="flashes">
        {% for message in messages %}
            <li class="flash-box">{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}
</form>

<script>
document.getElementById('fileInput').addEventListener('change', function () {
    const fileNameBox = document.getElementById('fileName');
    if (this.files.length > 0) {
        fileNameBox.textContent = "Selected: " + this.files[0].name;
    } else {
        fileNameBox.textContent = "";
    }
});
</script>


<h2 class="section-title">Dashboards</h2>
<div class="grafana-grid">
    <div class="grafana-card">
        <iframe src="http://localhost:3000/d-solo/adwr7fh/cloudbase-dashboard?orgId=1&from=1736437828305&to=1737248897541&timezone=browser&panelId=panel-3&__feature.dashboardSceneSolo=true" width="500" height="300" frameborder="0"></iframe>
    </div>
    <div class="grafana-card">
        <iframe src="http://localhost:3000/d-solo/adwr7fh/cloudbase-dashboard?orgId=1&from=1736437828305&to=1737248897541&timezone=browser&panelId=panel-4&__feature.dashboardSceneSolo=true" width="500" height="300" frameborder="0"></iframe>
    </div>
    <div class="grafana-card">
        <iframe src="http://localhost:3000/d-solo/adwr7fh/cloudbase-dashboard?orgId=1&from=1761948138984&to=1764543738984&timezone=browser&panelId=panel-2&__feature.dashboardSceneSolo=true" width="500" height="300" frameborder="0"></iframe>
    </div>
    <div class="grafana-card">
        <iframe src="http://localhost:3000/d-solo/adwr7fh/cloudbase-dashboard?orgId=1&from=1761948138984&to=1764543738984&timezone=browser&panelId=panel-1&__feature.dashboardSceneSolo=true" width="500" height="300" frameborder="0"></iframe>
    </div>
</div>

{% endblock %}
